[mysqld]
# je stocke les données ici
datadir = /var/lib/mysql

# socket pour les connexions locales
socket = /run/mysqld/mysqld.sock

# j'écoute sur toutes les interfaces pour que wordpress puisse se connecter
bind_address = 0.0.0.0

# port par défaut de mariadb
port = 3306

# je fais tourner mariadb avec l'user mysql
user = mysql
